@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

* {
  overflow: hidden;
  font-family: 'Monomaniac One', sans-serif;
}

body {
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

.container {
  margin-top: 2em;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

@keyframes rotateAndMove {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(200px, 0) rotate(90deg);
  }
  50% {
    transform: translate(400px, 0) rotate(180deg);
  }
  75% {
    transform: translate(200px, 0) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.lime-image {
  position: absolute;
  animation: rotateAndMove 5.5s infinite ;
  width: 80px;
  opacity: 0.1;
}



h1 {
  text-align: center;
  color: rgb(0, 255, 0);
  font-size: 4em;
  margin-top: 0px;
}

h2 {
  font-size: 2em;
  margin-top: 30px;
  color: lime;
}

.time-zone {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fffefe;
  font-size: 1.5em;
}

.time-difference{
  color: lime;

}

.time-zone label {
  flex: 0 0 80px;
  font-weight: bold;
  color: lime;
}

.time {
  flex: 1;
  font-weight: bold;
  
}


#clock {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(243, 243, 243);
}

#current-time {
  color: white;
  font-size: 2em;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 18px;
  }

  .time-zone label {
    flex: 0 0 60px;
  }

  #clock {
    font-size: 20px;
  }
}